<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated henshinreconfiguration -->
      <factory
            uri="http://palladiosimulator.org/simulizar/reconfigurationrule/henshin/1.0"
            class="org.palladiosimulator.simulizar.reconfiguration.henshin.henshinreconfiguration.provider.HenshinReconfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated henshinreconfiguration -->
      <extender
            uri="http://palladiosimulator.org/simulizar/reconfigurationrule/1.0"
            class="org.palladiosimulator.simulizar.reconfiguration.henshin.henshinreconfiguration.provider.HenshinReconfigurationItemProviderAdapterFactory$reconfigurationruleChildCreationExtender"/>
   </extension>

</plugin>
