<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.palladiosimulator.simulizar.example.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="platform:/plugin/org.palladiosimulator.simulizar.ui/icon/simulizar_icon.ico"
            id="org.palladiosimulator.simulizar.example.navigator.navigator"
            name="SimuLizar Navigator">
      </view>
      <category
            id="org.palladiosimulator.simulizar.example.navigator.category"
            name="SimuLizar">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.palladiosimulator.simulizar.example.navigator.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.palladiosimulator.simulizar.example.navigator.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.palladiosimulator.simulizar.ui.perspective">
         <view
               id="org.palladiosimulator.simulizar.example.navigator.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.palladiosimulator.simulizar.ui.perspective">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.palladiosimulator.simulizar.ui.perspective">
         <view
               id="de.uka.ipd.sdq.codegen.simucontroller.gui.DockStatusViewPart"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.palladiosimulator.simulizar.ui.perspective.perspectives.SimulizarPerspective"
            icon="platform:/plugin/org.palladiosimulator.simulizar.ui/icon/simulizar_icon.ico"
            id="org.palladiosimulator.simulizar.ui.perspective"
            name="SimuLizar Perspective">
      </perspective>
   </extension>

</plugin>
