<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated measurements -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="measurements.presentation.MeasurementsModelWizardID"
            name="%_UI_MeasurementsModelWizard_label"
            class="measurements.presentation.MeasurementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MeasurementsModelFile.gif">
         <description>%_UI_MeasurementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated measurements -->
      <editor
            id="measurements.presentation.MeasurementsEditorID"
            name="%_UI_MeasurementsEditor_label"
            icon="icons/full/obj16/MeasurementsModelFile.gif"
            extensions="measurements"
            class="measurements.presentation.MeasurementsEditor"
            contributorClass="measurements.presentation.MeasurementsActionBarContributor">
      </editor>
   </extension>

</plugin>
