<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated violations -->
      <package
            uri="http://simulizar.palladiosimulator.org/lafore/violations/1.0"
            class="violations.ViolationsPackage"
            genModel="model/violations.genmodel"/>
   </extension>

</plugin>
