<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated EUREMA_2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eurema.presentation.EuremaModelWizardID"
            name="%_UI_EuremaModelWizard_label"
            class="eurema.presentation.EuremaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EuremaModelFile.gif">
         <description>%_UI_EuremaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated EUREMA_2 -->
      <editor
            id="eurema.presentation.EuremaEditorID"
            name="%_UI_EuremaEditor_label"
            icon="icons/full/obj16/EuremaModelFile.gif"
            extensions="eurema"
            class="eurema.presentation.EuremaEditor"
            contributorClass="eurema.presentation.EuremaActionBarContributor">
      </editor>
   </extension>

</plugin>
