<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated monitorrepository -->
      <package
            uri="http://palladiosimulator.org/SimuLizar/MonitorRepository/1.0"
            class="org.palladiosimulator.simulizar.monitorrepository.MonitorrepositoryPackage"
            genModel="model/monitorrepository.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated monitorrepository -->
      <parser
            type="monitorrepository"
            class="org.palladiosimulator.simulizar.monitorrepository.util.MonitorrepositoryResourceFactoryImpl"/>
   </extension>
</plugin>
