<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated monitorrepository -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.simulizar.monitorrepository.presentation.MonitorrepositoryModelWizardID"
            name="%_UI_MonitorrepositoryModelWizard_label"
            class="org.palladiosimulator.simulizar.monitorrepository.presentation.MonitorrepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MonitorrepositoryModelFile.gif">
         <description>%_UI_MonitorrepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated monitorrepository -->
      <editor
            id="org.palladiosimulator.simulizar.monitorrepository.presentation.MonitorrepositoryEditorID"
            name="%_UI_MonitorrepositoryEditor_label"
            icon="icons/full/obj16/MonitorrepositoryModelFile.gif"
            extensions="monitorrepository"
            class="org.palladiosimulator.simulizar.monitorrepository.presentation.MonitorrepositoryEditor"
            contributorClass="org.palladiosimulator.simulizar.monitorrepository.presentation.MonitorrepositoryActionBarContributor">
      </editor>
   </extension>
</plugin>
