<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.simulizar.prm.presentation.PrmModelWizardID"
            name="%_UI_PrmModelWizard_label"
            class="org.palladiosimulator.simulizar.prm.presentation.PrmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PrmModelFile.gif">
         <description>%_UI_PrmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.palladiosimulator.simulizar.prm.presentation.PrmEditorID"
            name="%_UI_PrmEditor_label"
            icon="icons/full/obj16/PrmModelFile.gif"
            extensions="prm"
            class="org.palladiosimulator.simulizar.prm.presentation.PrmEditor"
            contributorClass="org.palladiosimulator.simulizar.prm.presentation.PrmActionBarContributor">
      </editor>
   </extension>

</plugin>
