<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated storydiagram -->
      <factory
            uri="http://palladiosimulator.org/simulizar/reconfigurationrule/storydiagram/1.0"
            class="storydiagram.provider.StorydiagramItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated storydiagramreconfiguration -->
      <factory
            uri="http://palladiosimulator.org/simulizar/reconfigurationrule/storydiagram/1.0"
            class="org.palladiosimulator.simulizar.reconfiguration.storydiagramreconfiguration.provider.StorydiagramreconfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated org.palladiosimulator.simulizar.reconfiguration.storydrivenreconfiguration -->
      <factory
            uri="http://palladiosimulator.org/simulizar/reconfigurationrule/storydiagram/1.0"
            class="org.palladiosimulator.simulizar.reconfiguration.storydiagram.model.edit.provider.StorydiagramreconfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
