<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.palladiosimulator.simulizar.ui.wizard.category.project"
            class="org.palladiosimulator.simulizar.ui.wizards.dynamicenvironment.DynamicEnvironmentModelCreationWizard"
            id="org.palladiosimulator.simulizar.ui.wizards.dynamicenvironment.wizard"
            name="Dynamic Environment (Workload) Model">
      </wizard>
   </extension>

</plugin>
