<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
    <unit
          name="ProfilesLibrary"
          namespace="org.palladiosimulator.simulizar.action.repository.black">
       <library
             class="org.palladiosimulator.simulizar.action.repository.black.ProfilesLibrary"
             name="ProfilesLibrary">
          <metamodel
                nsURI="http://www.eclipse.org/emf/2002/Ecore">
          </metamodel>
          <metamodel
                nsURI="http://www.modelversioning.org/emfprofile/1.1">
          </metamodel>
          <metamodel
                nsURI="http://www.modelversioning.org/emfprofile/application/1.1">
          </metamodel>
          <metamodel
                nsURI="http://palladiosimulator.org/PalladioComponentModel/Core/Entity/5.2">
          </metamodel>
          <metamodel
                nsURI="http://sdq.ipd.uka.de/Identifier/2.1">
          </metamodel>
       </library>
    </unit>
    <unit
          name="SimulationStateLibrary"
          namespace="org.palladiosimulator.simulizar.action.repository.black">
       <library
             class="org.palladiosimulator.simulizar.action.repository.black.SimulationStateLibrary"
             name="SimulationStateLibrary">
              <metamodel
                nsURI="http://www.eclipse.org/emf/2002/Ecore">
          </metamodel>
       </library>
    </unit>
 </extension>
 
<extension point="org.modelversioning.emfprofile.profile">
	<profile profile_resource="transientstates/componentmigration.emfprofile_diagram"/>
	<profile profile_resource="transientstates/componentinstantiation.emfprofile_diagram"/>
 <profile
       profile_resource="transientstates/powerstatetransition.emfprofile_diagram">
 </profile>
</extension>
<extension
      point="org.palladiosimulator.simulizar.runtimestate.runtimestateaccessor">
   <runtimeStateAccessor
         accessor="org.palladiosimulator.simulizar.action.repository.black.LibraryStateAccessor">
   </runtimeStateAccessor>
</extension>
</plugin>
