<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated reconfigurationrule -->
      <package
            uri="http://palladiosimulator.org/simulizar/reconfiguration/1.0"
            class="org.palladiosimulator.simulizar.reconfigurationrule.ReconfigurationrulePackage"
            genModel="model/reconfigurationrule.genmodel"/>
   </extension>

</plugin>
