<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.simulizar.extension.factory">
      <component
            factory="org.palladiosimulator.simulizar.reliability.di.ReliabilityExtensionComponent$EclipseFactory">
      </component>
   </extension>

</plugin>
