<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.simulizar.reconfigurationengine">
      <reconfigurationEngine
            reconfigurationEngine="org.palladiosimulator.simulizar.reconfiguration.qvto.QVTOReconfigurator">
      </reconfigurationEngine>
   </extension>
   <extension
         point="org.palladiosimulator.simulizar.reconfigurationloader">
      <reconfigurationLoader
            reconfigurationLoader="org.palladiosimulator.simulizar.reconfiguration.qvto.QvtoReconfigurationLoader">
      </reconfigurationLoader>
   </extension>

</plugin>
