<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.palladiosimulator.simulizar.ui.wizard.category.wizards"
            name="SimuLizar Example"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/org.palladiosimulator.simulizar.ui.wizard.category.wizards"
            class="org.palladiosimulator.simulizar.ui.wizard.wizards.CustomProjectNewWizard"
            finalPerspective="org.palladiosimulator.simulizar.ui.perspective"
            icon="icons/simulizar.png"
            id="org.palladiosimulator.simulizar.ui.wizard.new.custom"
            name="Example Model"
            project="true">
      </wizard>
   </extension>
   <extension
         id="org.palladiosimulator.simulizar.example.simulizarNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.palladiosimulator.simulizar.ui.wizard.natures.SimulizarNature">
         </run>
      </runtime>
   </extension>

</plugin>
