<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="customplugin.category.wizards"
            name="SimuLizar Example">
      </category>
      <wizard
            category="customplugin.category.wizards"
            class="org.palladiosimulator.simulizar.example.wizards.CustomProjectNewWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/perspective.png"
            id="customplugin.wizard.new.custom"
            name="Example Model">
      </wizard>
   </extension>

</plugin>
