<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.palladiosimulizar.monitorrepository.map"
         name="org.palladiosimulizar.monitorrepository.map"
         point="org.palladiosimulator.simulizar.interpreter.listener.probeframework">
      <probeFrameworkListenerDecorator
            decorator="org.palladiosimulator.simulizar.monitorrepository.map.probeframework.MonitorRepositoryMapProbeFrameworkListenerDecorator">
      </probeFrameworkListenerDecorator>
   </extension>

</plugin>
