<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="name"
         point="de.uka.ipd.sdq.workflow.tab.extension">
      <workflow_extension
            name="org.palladiosimulator.simulizar.events.workflow_extension1"
            runconfig_tab="org.palladiosimulator.simulizar.events.EventsTransformationExtensionTab"
            workflow_id="workflow.extension.simucom.before.codegeneration">
      </workflow_extension>
   </extension>
      <extension
         point="org.palladiosimulator.simulizar.extension.factory">
      <component
            factory="org.palladiosimulator.simulizar.events.EventExtensionComponent$EclipseFactory">
      </component>
   </extension>
</plugin>
