<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.palladiosimulator.power"
         name="Power Analysis Extension"
         point="org.palladiosimulator.simulizar.interpreter.listener.probeframework">
      <probeFrameworkListenerDecorator
            decorator="org.palladiosimulator.simulizar.power.probeframework.PowerProbeFrameworkListenerDecorator">
      </probeFrameworkListenerDecorator>
   </extension>
   <extension
         point="org.palladiosimulator.simulizar.ui.configuration.fileinput">
      <fileInputHandler
            fileInputHandler="org.palladiosimulator.simulizar.power.ui.configuration.PowerInfrastructureRepositoryFileInputHandler">
      </fileInputHandler>
   </extension>
   <extension
         point="org.palladiosimulator.simulizar.launcher.modelload">
      <loadJob
            loadJob="org.palladiosimulator.simulizar.power.jobs.LoadPowerInfrastructureRepositoryIntoBlackboardJob"
            loadJobConfigBuilder="org.palladiosimulator.simulizar.power.runconfig.LoadPowerInfrastructureRepositoryIntoBlackboardJobConfigBuilder">
      </loadJob>
      <blackboardPartitionId
            blackboardPartitionId="de.fzi.power">
      </blackboardPartitionId>
   </extension>

</plugin>
