<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.palladiosimulator.slidingwindow"
         name="Extension for Sliding Window Based (Time Driven) Measurement Aggregation"
         point="org.palladiosimulator.simulizar.interpreter.listener.probeframework">
      <probeFrameworkListenerDecorator
            decorator="org.palladiosimulator.simulizar.slidingwindow.probeframework.SlidingWindowProbeFrameWorkListenerDecorator">
      </probeFrameworkListenerDecorator>
   </extension>
</plugin>
