<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated runtimemeasurement -->
      <package
            uri="http://simulizar.palladiosimulator.org/RuntimeMeasurement/1.0"
            class="org.palladiosimulator.runtimemeasurement.RuntimeMeasurementPackage"
            genModel="model/runtimemeasurement.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated runtimemeasurement -->
      <parser
            type="runtimemeasurement"
            class="org.palladiosimulator.runtimemeasurement.util.RuntimeMeasurementResourceFactoryImpl"/>
   </extension>
</plugin>
